.acl {
	width: 100%;
	flex: 0 0 auto;
}

.acl label {
	display: block;
}

.acl h1 {
	font-size: inherit;
	margin-bottom: 4px;
}

.acl__client,
.acl__project,
.acl__study{
	border: 1px solid #eee;
}

.acl__client,
.acl__study{
	border-right: none;
}

.acl__project:not(:last-child),
.acl__study{
	border-bottom: none;
}

.acl__study:not(:last-child){
	border-top: none;
}

.acl,
.acl__clients,
.acl__client,
.acl__projects,
.acl__project,
.acl__studies{
	display: flex;
}

.acl > *,
.acl__clients > *,
.acl__project > *,
.acl__studies > * {
	flex: 1 1 auto;
}

.acl__client,
.acl__projects,
.acl__studies {
	flex-direction: column;
}

.acl__client,
.acl__project__details,
.acl__study__details{
	padding: 5px 10px;
}

.acl .eq-width {
	width: 80px;
}

.eq-width.eq-width-wide {
}
