.app {
	display: flex;
	width: 100%;
}

.app > *{
	flex: 1 1 auto;
}

.app .app__left{
	margin-right: 5px;
}

.app table {
	border-collapse:collapse;
}

.app .app__right {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 10px;
}
