.graph {
	border: 1px solid gray;
	border: none;
	line-height: 1.5;
	padding: 10px 15px;
	background: #ddd;
	width: 500px;
	height: 100vh;
}

.graph h1{
	font-size: 18px;
	font-weight: normal;
}

.graph-block {
	border: 1px solid white;
	padding: 1px 5px 5px 15px;
	background: #dcf1f5;
}

.graph-block .graph-block {
	position: relative;
	left: -17px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #e7d9f3;
}

.graph-block .graph-block .graph-block {
	background: #fbe0e0;
}

.graph-block .graph-block .graph-block .graph-block{
	background: #fffadd;
	padding: 9px 10px;
}

.graph ul,
.graph ol{
	list-style: none;
}
