.graph {
	border: 1px solid gray;
	line-height: 1.5;
	padding: 20px;
	background: #ccc;
}

.graph-block {
	border: 1px solid white;
	padding: 1px 5px 5px 5px;
}

.graph-block
.graph-block {
	position: relative;
	left: -6px;
	margin-top: 1px;
	margin-bottom: 5px;
}

.graph ul,
.graph ol{
	list-style: none;
}
