* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	font-size: 13px;
	overflow-y: scroll;
}

.text-center {
	text-align: center;
}

.text-top-cell {
	vertical-align: top;
}

ul, ol {
	margin: 0;
}
